name: Verify Gradle

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - dev
    types: [ opened, synchronize, reopened, ready_for_review ]
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  verify-gradle:
    name: "Verify Gradle"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: setup-java
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1